<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417316924421-nai8jfqhgb641861sfjnsrt2vkm23fus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417316924421-nai8jfqhgb641861sfjnsrt2vkm23fus</string>
	<key>API_KEY</key>
	<string>AIzaSyB8cxlsfJHUyEalfE-LAF4PWrCW5WCWi9M</string>
	<key>GCM_SENDER_ID</key>
	<string>417316924421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationsPush.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-2dde0</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-2dde0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417316924421:ios:309942ffeaf71d4d21806c</string>
</dict>
</plist>